# Update the variables
# Rename this file to ".env"

# Sheet details
SCHEMA_SHEET_ID = "ID of the Gsheet"
SCHEMA_SHEET_RANGE = "3:27"
CONTACTS_SHEET_ID = "ID of the Gsheet"
CONTACTS_SHEET_RANGE = "2:40"

# Mailing
SMTP_PORT = 465
SMTP_SRV = "smtp.gmail.com"
SMTP_USR = "certain_email@test.com"
SMTP_PWD = "password"

# Provide an optional reply-to email address
REPLY_TO = "user@domain.com"

# bcc and error messages
ADM_EMAIL = "admin@test.com"

# Groen contact personen
GROEN_CONTACTS = "Naam1 Nummer1, Naam2 Nummer2, Naam3 Nummer3"

# Set to True, to actually send emails
EMAIL_ON = False
