# Update the variables
# Rename this file to ".env"

# Sheet details
SCHEMA_SHEET_ID = "ID of the Gsheet"
SCHEMA_SHEET_RANGE = "3:27"
CONTACTS_SHEET_ID = "ID of the Gsheet"
CONTACTS_SHEET_RANGE = "2:40"

# Mailing
SMTP_PORT = 465
SMTP_SRV = "smtp.gmail.com"
SMTP_USR = "certain_email@test.com"
SMTP_PWD = "password"

# The from address in emails and the content of the email
FROM_USR = "user@domain.com"

# bcc and error messages
ADM_EMAIL = "admin@test.com"
# used for the email body
GROEN_CONTACT = "name"
GROEN_MOBIEL = "phone_number"

# Set to True, to actually send emails
EMAIL_ON = False
