# Mailing
SMTP_PORT = 465
SMTP_SRV = "smtp.gmail.com"
SMTP_USR = "certain_email@test.com"
SMTP_PWD = "password"
# bcc and error messages
ADM_EMAIL = "admin@test.com"
# used for the email body
GROEN_CONTACT = "name"
GROEN_MOBIEL = "phone_number"
EMAIL_ON = False
